@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --font-sans: var(--font-montserrat);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: var(--radius);
  --radius-lg: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 4px);

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #09090b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --primary: #09090b;
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #f4f4f5;
  --accent-foreground: #09090b;

  --border: #f4f4f5;
  --input: #f4f4f5;
  --ring: #d4d4d8;

  --radius: 0.75rem; 
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04";
    text-align: center;
  }

  input {
    @apply bg-zinc-50/50;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
}